<div class="bgimg w3-container" id="graphic">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-blue ">Grafik kreator</span></h5>
    <div *ngIf="!submitted">
      <form>
        <table style="margin: auto;">
          <tbody>
            <tr>
              <td>Wybierz pracownika:</td>
              <td>
                <select name="user" [(ngModel)]="email" class="w3-input w3-padding-S16 w3-border">
                  <option> </option>
                  <option *ngFor="let one of usersList"> {{one.email}} </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Wybierz datę rozpoczęcia pracy:</td>
              <td><input class="date" type="date" name="data" [(ngModel)]="grafik.localDate"></td>
            </tr>
            <tr>
              <td>Wybierz godziny pracy:</td>
              <td>Od:<input class="hour" type="text" name="hour" [(ngModel)]="grafik.startTime"> Do:<input class="hour"
                  type="text" name="hour" [(ngModel)]="grafik.endTime"></td>
            </tr>
            <tr>
              <td style="text-align: center;" colspan="2"><button class="w3-button w3-blue"
                  (click)="addGraphic()">Zatwierdź</button>
                <button class="w3-button w3-red" type="reset">Wyczyść</button></td>
            </tr>
          </tbody>
        </table><br><br>
      </form>
    </div>
    <div class="komunikat" *ngIf="submitted">
        <h4>Pomyślnie dodano do grafiku!</h4>
        <meta http-equiv="refresh" content="1">
      </div>
    <h5 style="text-align: center;">Grafik wszystkich osób pracujących w dniu<input class="date" type="date" [(ngModel)]="data"><button class="w3-button w3-blue"
      (click)="showGraphic()">{{napis}}</button></h5>
    <div *ngIf="pozwolenie">
      <div *ngFor="let one of grafikList, let odd = odd" class="grafik" [ngClass]="{'odd-div': odd===true}">
        Użytkownik:<br>{{one.lastName}} {{one.firstName}}
        <div *ngFor="let main of one.workSchedule">
        Data:{{main.localDate}}<br> Od godz.:{{main.startTime}} do godz.:{{main.endTime}}
      </div>
      </div>
    </div>
  </div>
</div>

