<div class="w3-container" id="vacation">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-blue ">Wnioski urlopowe</span></h5>
    <div *ngIf="vacationFormList?.length>0">
        <table border style="margin: auto;">
          <tbody>
            <tr class="trMain">
              <td>Id</td>
              <td>Pracownik</td>
              <td>Rozpoczęcie urlopu</td>
              <td>Zakończenie urlopu</td>
              <td>Data wysłania wniosku</td>
            </tr>
            <tr class="tr" *ngFor="let one of vacationFormList, let odd = odd" [ngClass]="{'odd-tr': odd===true}">
              <td>{{one.id}}</td>
              <td>{{one.employee.firstName}} {{one.employee.lastName}}</td>
              <td>{{one.startDate}}</td>
              <td class="comment">{{one.endDate}}</td>
              <td>{{one.timeSendingForm}}</td>
            </tr>
          </tbody>
        </table>
      <div style="text-align: center;" *ngIf="visible"><br><br><br><br>
        <h4>Wyślij decyzję w sprawie urlopu</h4>
           <table style=" margin: auto;">
             <tbody>
               <tr>
                 <td>Podaj ID wniosku</td>
                 <td><input type="text" [(ngModel)]="vacationForm.id"></td>
               </tr>
               <tr>
                   <td>Decyzja</td>
                   <td><label>
                       <input type="radio" name="food" value="1" [(ngModel)]="vacationForm.isAccpeted"> Zgoda<br>
                       <input type="radio" name="food" value="0" [(ngModel)]="vacationForm.isAccpeted"> Odmowa
                     </label></td>
                 </tr>
                 <tr>
                     <td colspan="2"><button class="w3-button w3-blue" type="reset" (click)="sendAnswer()">Wyślij</button></td>
                   </tr>
             </tbody>
           </table>
       </div>
       <div *ngIf="!visible" style="text-align: center;">
        <h3>Pomyślnie wysłano odpowieź dotyczącą wniosku urlopowego</h3>
        <h5><button class="w3-button w3-blue" (click)="returnToSendAnswer()">Wyślij kolejną</button></h5>
       </div>
    </div>
    <div *ngIf="vacationFormList?.length<1" style="text-align: center;">
      <h3>Brak wniosków do wyświetlenia.</h3>
    </div>



    <!-- <div style="text-align: center;"><br><br>
      <h4>gownogownogownogowno</h4>
         <table style=" margin: auto;">
           <tbody>
             <tr>
               <td>Podaj ID wniosku</td>
               <td><input type="text" [(ngModel)]="id"></td>
             </tr>
             <tr>
                 <td>Decyzja</td>
                 <td><label>
                     <input type="radio" name="foodd" value="1" [(ngModel)]="isAccepted"> Zgoda<br>
                     <input type="radio" name="foodd" value="0" [(ngModel)]="isAccepted"> Odmowa
                   </label></td>
               </tr>
               <tr>
                   <td colspan="2"><button class="w3-button w3-blue" (click)="sendAnswerr()">Wyślij</button></td>
                 </tr>
           </tbody>
         </table>
     </div> -->



  </div>
</div>
