<div class="bgimg w3-container" id="graphic">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-blue ">Dostępne CV</span></h5>
    <div [hidden]="submitted" *ngFor="let cv of cvList">
        <div *ngIf="submit">
      <table style="margin: auto;">
        <tbody>
          <tr>
            <td>Imię:</td>
            <td>{{cv.firstName}}</td>
          </tr>
          <tr>
            <td>Nazwisko:</td>
            <td>{{cv.lastName}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{cv.email}}</td>
          </tr>
          <tr>
            <td>Numer tel.:</td>
            <td>{{cv.phoneNumber}}</td>
          </tr>
          <tr>
            <td>Wykształcenie:</td>
            <td>{{cv.education}}</td>
          </tr>
          <tr>
            <td>Doświadczenie:</td>
            <td>{{cv.experience}}</td>
          </tr>
          <tr>
            <td>Nazwa posady do której aplikuję:</td>
            <td>{{cv.jobOffer.position}}</td>
          </tr>
          <tr>
              <td colspan="2"><button type="button" (click)="showEmail()" class="w3-button w3-blue">Wyślij Email z odpowiedzią.</button></td>
          </tr>
        </tbody>
      </table>
      </div>
      <div *ngIf="!submit">
          <table style="margin: auto;">
              <tbody>
              <tr>
                <td>Adres Email odbiorcy:</td>
                <td><input [(ngModel)]="email.to" type="text" id="conditions" name="conditions" class="w3-input w3-padding-16 w3-border"></td>
              </tr>
              <tr>
                <td>Temat emaila:</td>
                <td><input [(ngModel)]="email.subject" type="text" id="jobDescription" name="jobDescription" class="w3-input w3-padding-S16 w3-border"></td>
              </tr>
              <tr>
                <td>Treść emaila:</td>
                <td><input [(ngModel)]="email.text" type="text" id="niceToHave" name="niceToHave" class="w3-input w3-padding-S16 w3-border"></td>
              </tr>
              <tr>
                <td><button (click)="sendEmail()" class="w3-button w3-blue">Zatwierdź</button></td>
                <td><button (click)="hideEmail()" class="w3-button w3-red">Anuluj</button></td>
              </tr>
            </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
<div class="komunikat" [hidden]="!submitted">
    <h4>Pomyślnie wysłano maila z odpowiedzią!</h4>
  </div>
