<div class="w3-top">
  <div class="w3-row w3-padding w3-blue">
    <div *ngIf="!authService.isSignedIn">
      <app-start-menu></app-start-menu>
    </div>
    <div *ngIf="authService.isSignedIn && userRole==='ROLE_ADMIN' && result.lastName">
        <app-menu-after-login></app-menu-after-login>
    </div>
    <div *ngIf="authService.isSignedIn && userRole==='ROLE_BOSS' && result.lastName">
        <app-menu-after-login-boss></app-menu-after-login-boss>
    </div>
    <div *ngIf="authService.isSignedIn && userRole==='ROLE_MANAGER' && result.lastName">
        <app-menu-after-login-manager></app-menu-after-login-manager>
    </div>
    <div *ngIf="authService.isSignedIn && userRole==='ROLE_HUMAN_RESOURCES' && result.lastName">
        <app-menu-after-login-human-resources></app-menu-after-login-human-resources>
    </div>
    <div *ngIf="authService.isSignedIn && userRole==='ROLE_ACCOUNTANT' && result.lastName">
        <app-menu-after-login-accountant></app-menu-after-login-accountant>
    </div>
    <div *ngIf="authService.isSignedIn && userRole==='ROLE_EMPLOYEE' && result.lastName">
        <app-menu-after-login-employee></app-menu-after-login-employee>
    </div>
    <div *ngIf="authService.isSignedIn && !result.lastName">
      Korzystanie z aplikacji bedzie możliwe po wprowadzeniu danych osobowych.
  </div>
  </div>
</div>
<router-outlet></router-outlet>
