<div class="w3-container" id="personalData">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-blue ">Dodaj swoje dane osobowe: </span></h5>
    <div style="width: auto;">
        <form>
          <table style="margin: auto;">
            <tbody>
              <tr>
                <td>Imię:</td>
                <td><input [(ngModel)]="employee.firstName" name="firstname" class="w3-input w3-padding-16 w3-border" />
                </td>
              </tr>
              <tr>
                <td>Nazwisko:</td>
                <td><input [(ngModel)]="employee.lastName" name="lastname" class="w3-input w3-padding-16 w3-border" />
                </td>
              </tr>
              <tr>
                <td>Adres:</td>
                <td><input [(ngModel)]="employee.address" name="address" class="w3-input w3-padding-16 w3-border" />
                </td>
              </tr>
              <tr>
                <td>Nr. Tel.:</td>
                <td><input [(ngModel)]="employee.phoneNumber" name="tel" class="w3-input w3-padding-16 w3-border" />
                </td>
              </tr>
              <tr>
                <td>Nr. rachunku bankowego:</td>
                <td><input [(ngModel)]="employee.bankAccountNumber" name="bank" class="w3-input w3-padding-16 w3-border" /></td>
              </tr>
              <tr>
                <td><button (click)="putEmployee()" class="w3-button w3-blue">Zapisz zmiany</button></td>
                <td><input type='reset' class="w3-button w3-red" value='Wyczyść zmiany'></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
